*{
  font-family: 'Poppins', sans-serif;
}

.heading{
  color: #686984;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.fa-search{
  background: transparent;
}

#container-content{
  left: 15px;
  top: 86px;
  margin-right: 15px;
  --padding: 10 5 10 5;
  border: 1px solid;
}

// .bg-img{
  // // --background: url('../../assets/img/bg.jpg');
  // --background-size: contain;
  // width: 100%;
  // height: 100%;
  // --background-repeat: no-repeat;
// }

.bg-transparant{
  background: transparent;
}

.content-padding{
  --padding-start: var(--ion-padding, 35px);
  --padding-end: var(--ion-padding, 35px);
}

.border{
  border: 1px solid;
}

.container{
  margin: 0px 10px 15px 10px;
  text-align: center;
}

.container .logo{
  height: 140px;
  width: 140px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container h4{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 42px;
  /* identical to box height */
  margin-bottom: 2px;
  margin-top: 5px;


  color: #686984;
}

.container-input{
  margin-top: 60px;
}

.container-input ion-input{
  // border-bottom: 1px solid #686984;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  margin-left: 0px;


  color: #686984;
  text-align: left;
}

.container-input ion-label{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #686984;
}

.container .login{
  height: 30px;
  width: 70px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  // border: 1px solid #686984;
  // border-radius: 5px;
  margin-top: 30px;
  align-self: center;
}

.container small{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */


  color: #686984;
}

.container .daftar{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */


  color: #7F7DF1;
}

.play{
  height: 30px;
  width: 70px;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
}
.thumbnail{
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-music{
  border-bottom: 1px solid rgba(104, 105, 132, 0.2);
  padding: 15px 10px;
  --border-radius: 8px;
}

.music-title{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.singer{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8081A3;
}

.duration{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.container-title{
  width: 155px !important;
}

.bg-footer{
  height: 90px;
  width: 375px;
  padding: 13px;
  --background: linear-gradient(0deg, #E7ECFF, #E7ECFF), rgba(255, 255, 255, 0.87);
  box-shadow: 0px 7px 20px rgba(125, 169, 241, 0.5);
  border-radius: 34px 34px 0px 0px;
  position: absolute;
  bottom: 0;
}

ion-searchbar{
  --background: var(--ion-background-color, rgba(255, 255, 255, 0.2));
}

.p-button{
  color: #7F7DF1;
  height: 55px;
  width: 55px;
}

.prev-next{
  color: #686984;
}

.i-add{
  color: #7F7DF1;
}

.action{
  width: 100%;
  height: 30px;
  font-weight: normal;
}

