*{
  font-family: 'Poppins', sans-serif;
}

.heading{
  color: #686984;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.fa-search{
  background: transparent;
}

#container-content{
  left: 15px;
  top: 86px;
  margin-right: 15px;
  --padding: 10 5 10 5;
  border: 1px solid;
}

// .bg-img{
  // // --background: url('../../assets/img/bg.jpg');
  // --background-size: contain;
  // width: 100%;
  // height: 100%;
  // --background-repeat: no-repeat;
// }

.bg-transparant{
  background: transparent;
}

.pl-baru{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #686984;
}

.content-padding{
  --padding-start: var(--ion-padding, 35px);
  --padding-end: var(--ion-padding, 35px);
}

.thumbnail{
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-music{
  border-bottom: 1px solid rgba(104, 105, 132, 0.2);
  padding: 15px 10px;
  --border-radius: 8px;
}

.music-title{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #686984;
}

.singer{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8081A3;
}

.duration{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.container-title{
  width: 155px !important;
}

.border{
  border: 1px solid;
}

.container-input{
  margin: 150px 10px;
  text-align: center;
  height: 299px;
}

.container-input span{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */


  color: #686984;
}

.container-input .input{
  border-bottom: 1px solid #686984;
  margin-top: 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: #8081A3;
}

.container-input .batal{
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #686984;
}

.container-input .simpan{
  height: 30px;
  width: 70px;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;

}
